html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#020202, #4b4949);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

p {
  margin: 0;
  padding: 0;
  }

  a {
    color: white;
  }

#title {
    padding-top: 80px;
    width: 500px;
    height: 300px;
    text-align: center;
}

#gif {
    margin-bottom: 40px;
}

#intro-div {
    margin-bottom: 30px;
}

#buttons {
   padding: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
 }

 #button-img {
   width: 90px;
   height: 90px;
   object-fit:cover; /*this property does the magic*/
   border-radius:20%;
  }
  
  #rock, #paper, #scissors {
    width: 145px;
    height: 145px;
    background-size:cover; /*this property does the magic*/
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(233, 62, 219);
  }

  #rock:hover, #paper:hover, #scissors:hover {
    border-radius: 10px;
    border-color: rgb(145, 110, 228);
 
   /* HOVER ON */
    -webkit-transition: border-radius 0.1s;
  }

  #scores-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }

  #commentary-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
  }

  #reset-game {
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
  }

  .reset-focus {
    cursor: pointer;
    margin-top: 30px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: auto;
    height: 30px;
  }





